img {
height: 200px; 
width: 200px;
}

h1 {
    font-size: 100in;
}

html {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Background-Images-10.png");


}

div {
    background-color: transparent;

}
